[auth]
telegram_api_id = 12345678
telegram_api_hash = 11aa22cc33dd44ee55ff667788990011
openai_api_key = sk-ANWJDBSFNEDNAWHJSdasdAWgdNSDEAdakrdNARTDakwrdANb
own_id = 987654321
[chat]
wait_with_reply = 10
chat_title = Henriette Scammer